@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/fonts/HelveticaNeueBold.woff') format('woff'),
      url('/fonts/HelveticaNeueBold.woff2') format('woff2'); 
}

body {
  margin: 0;
  width: 100%;
  font-family: Arial,'HelveticaNeue', sans-serif;
}

a {
  color: #fff;
}

h2 {
  margin-bottom: .5em;
}

.topnav {
  padding-right: 15px;
  z-index: 99;
}

.topnav a{
  margin: 15px;
  font-size: 17px;
  font-weight: 600;
}

.topnav a.active {
  color: #cccccc;
}

.topnav-right {
  float: right;
}

.showMenu {
  display: none;
  position: fixed;
  z-index: 99;
}

#myVideo {
  position:relative;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

/*gallery*/
.grid-container {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));   */
  grid-template-columns: auto auto;
  grid-gap: 1em;
}

/* hover styles */
.location-listing {
  position: relative;
}

.project-image {
  line-height: 0;
  overflow: hidden;
}

.project-image img {
  transition: 0.4s ease-in;
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}

.project-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .4s;
  color: white;
  background: linear-gradient(to top,rgba(0,0,0,.7) 0,rgba(0,0,0,.3) 100%);
  
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .project-title {
  opacity: 1;
}

.location-listing:hover .project-image img {
  filter: blur(2px);
  transition: .4s;
  transform: scale(1.03);
}


/* for touch screen devices */
@media (hover: none) { 
  .project-title {
    opacity: 1;
  }
  .project-image img {
    filter: blur(2px);
    transform: scale(1.1);
    filter: grayscale(100%);
  }
}



/*NEW GALLERY*/

* {
  box-sizing: border-box;
}

.row {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 800px) {
  .row  {
    margin-left: 0rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    padding: 10px 10px 0 10px;
  }
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}


/*PROJECTS*/
.project {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 0px;

}

.project-text h2 {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Sans Serif', Icons;
  font-style: normal;
  line-height: 1.3;
}

.project-text p {
  font-size: 24px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.85);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, 'Sans Serif', Icons;
  font-style: normal;
  line-height: 1.3;
}

@media screen and (max-width: 600px) {
  .project {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0px;
  }
  }

/* Create two equal columns that floats next to each other */
.project-column {
  float: right;
  width: 50%;
}

.main-project-column {
  float: right;
  width: 50%;
}

.gallery-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}


/* Clear floats after the columns */
.project-row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 1000px) {
  .main-project-column {
    width: 100%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .project-column {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .gallery-image img {
    padding-left: 0px!important;
    padding-right: 0px!important;
    padding-top: 5px!important;
    padding-bottom: 5px!important;
  }
}


/*footer*/

.footer {
  background-color: #000;
  padding: 10px 0 10px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.footer a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  font-family: 'HelveticaNeue';
}

.footer a:hover {
  text-decoration: underline;
}
